* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
ul {
  list-style-type: none;
}
body {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 16px;
  background-color: #001e2fe0;
  padding: 1.25rem;
}
img {
  max-width: 100%;
  width: 11em;
  height: 11em;
  border-radius: 6rem;
}
.container {
  background-color: #001e2f;
  padding: 1.25rem;
  border-radius: 0.625rem;
  box-shadow: 0.3rem 0.3rem 0.3rem 0.3rem red;
  color: aliceblue;
}
